body {
    background-color: #cd9777;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.container {
    margin: auto;
    text-align: center;
    width: 80%;
}

.fa-edit {
    color: #0466c8;
    cursor: pointer;
}

.fa-trash {
    color: red;
    cursor: pointer;
}